<p id="notice"><%= notice %></p>

<h1>Listing Selections</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Reference</th>
      <th>Apidae</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @selections.each do |selection| %>
      <tr>
        <td><%= selection.label %></td>
        <td><%= selection.reference %></td>
        <td><%= selection.apidae_id %></td>
        <td><%= link_to 'Show', selection %></td>
        <td><%= link_to 'Edit', edit_selection_path(selection) %></td>
        <td><%= link_to 'Destroy', selection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Selection', new_selection_path %>
