<%= render layout: "/layouts/#{Rails.application.config.apidae_layout}" do |styles| %>
    <div id="apidae_header" class="<%= styles[:header] %>">
      <%= link_to 'Retour', :back, class: styles[:back] %>
      <h1 class="<%= styles[:h1] %>">Apidae - Sélections</h1>
    </div>
    <div id="apidae_dashboard" class="<%= styles[:wrapper] %>">
      <div id="apidae_imports_panel" class="<%= styles[:body] %>">
        <table id="apidae_selections" class="<%= styles[:table] %>">
          <thead class="<%= styles[:table_head] %>">
          <tr>
            <th>Label</th>
            <th>Reference</th>
            <th>Identifiant</th>
            <th>Objets</th>
          </tr>
          </thead>
          <tbody class="<%= styles[:table_body] %>">
          <% @selections.each do |selection| %>
              <tr>
                <td><%= selection.label %></td>
                <td><%= selection.reference %></td>
                <td><%= selection.apidae_id %></td>
                <td><%= link_to selection.objects.count, selection_objects_path(selection) %></td>
              </tr>
          <% end %>
          <% if @selections.empty? %>
            <tr>
              <td colspan="4">Aucune sélection importée pour le moment.</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>