<%= render layout: "/layouts/#{Rails.application.config.apidae_layout}" do |styles| %>
    <div id="apidae_header" class="<%= styles[:header] %>">
      <h1 class="<%= styles[:h1] %>">Apidae - Sélections</h1>
    </div>
    <div id="apidae_dashboard" class="<%= styles[:wrapper] %>">
      <div id="apidae_imports_panel" class="<%= styles[:body] %>">
        <table id="apidae_selections" class="<%= styles[:table] %>">
          <thead>
          <tr>
            <th>Label</th>
            <th>Reference</th>
            <th>Identifiant</th>
            <th>Nombre d'objets</th>
          </tr>
          </thead>

          <tbody>
          <% @selections.each do |selection| %>
              <tr>
                <td><%= selection.label %></td>
                <td><%= selection.reference %></td>
                <td><%= selection.apidae_id %></td>
                <td><%= selection.objects.count %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>