<%= render layout: "/layouts/#{Rails.application.config.apidae_layout}" do |styles| %>
    <div id="apidae_header" class="<%= styles[:header] %>">
      <%= link_to 'Importer un objet', apidae.new_object_path, class: styles[:objects] %>
      <%= link_to 'Retour', @selection ? apidae.selections_path : root_path, class: styles[:back] %>
      <h1 class="<%= styles[:h1] %>">Apidae - <%= @selection ? "Sélection \"#{@selection.label}\"" : "Tous les objets touristiques" %></h1>
    </div>
    <div id="apidae_dashboard" class="<%= styles[:wrapper] %>">
      <div id="apidae_imports_panel" class="<%= styles[:body] %>">
        <table id="apidae_objects" class="<%= styles[:table] %>">
          <thead class="<%= styles[:table_head] %>">
          <tr>
            <th>Titre</th>
            <th>Identifiant</th>
            <th>Type</th>
            <th>Mise à jour</th>
            <th></th>
          </tr>
          </thead>
          <tbody class="<%= styles[:table_body] %>">
          <% @objects.each do |object| %>
              <tr>
                <td><%= object.title %></td>
                <td><%= object.apidae_id %></td>
                <td><%= object.apidae_type %></td>
                <td><%= object.updated_at.strftime('Le %d/%m/%Y à %H:%M') if object.updated_at %></td>
                <td><%= link_to 'Rafraîchir', apidae.refresh_object_path(object), method: :post,
                                data: {confirm: 'Voulez-vous vraiment rafraîchir cet objet ? Les données existantes seront écrasées.'} %></td>
              </tr>
          <% end %>
          <% if @objects.empty? %>
            <tr>
              <td colspan="4">Aucun objet importé pour le moment.</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        apidaeEngineCallback("objects");
    });
</script>