<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @object.address %>
</p>

<p>
  <strong>Apidae:</strong>
  <%= @object.apidae_id %>
</p>

<p>
  <strong>Apidae type:</strong>
  <%= @object.apidae_type %>
</p>

<p>
  <strong>Apidae subtype:</strong>
  <%= @object.apidae_subtype %>
</p>

<p>
  <strong>Title:</strong>
  <%= @object.title %>
</p>

<p>
  <strong>Short desc:</strong>
  <%= @object.short_desc %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @object.contact %>
</p>

<p>
  <strong>Long desc:</strong>
  <%= @object.long_desc %>
</p>

<p>
  <strong>Type data:</strong>
  <%= @object.type_data %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @object.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @object.longitude %>
</p>

<p>
  <strong>Openings:</strong>
  <%= @object.openings %>
</p>

<p>
  <strong>Rates:</strong>
  <%= @object.rates %>
</p>

<p>
  <strong>Reservation:</strong>
  <%= @object.reservation %>
</p>

<%= link_to 'Edit', edit_object_path(@object) %> |
<%= link_to 'Back', objects_path %>
