<%= render layout: "/layouts/#{Rails.application.config.apidae_layout}" do |styles| %>
    <div id="apidae_header" class="<%= styles[:header] %>">
      <%= link_to 'Retour', :back, class: styles[:back] %>
      <h1 class="<%= styles[:h1] %>">Apidae</h1>
    </div>
    <div id="apidae_dashboard" class="<%= styles[:wrapper] %>">
      <div id="apidae_imports_panel" class="<%= styles[:body] %>">
        <h2 class="<%= styles[:h2] %>">Derniers imports</h2>
        <table id="apidae_imports" class="<%= styles[:table] %>">
          <thead class="<%= styles[:table_head] %>">
          <tr>
            <th>Date</th>
            <th>Créations</th>
            <th>Mises à jour</th>
            <th>Suppressions</th>
            <th>Statut</th>
          </tr>
          </thead>
          <tbody class="<%= styles[:table_body] %>">
          <% @last_imports.each do |import| %>
              <tr>
                <td><%= import.updated_at.strftime('Le %d/%m/%Y à %H:%M') if import.updated_at %></td>
                <td><%= import.created %></td>
                <td><%= import.updated %></td>
                <td><%= import.deleted %></td>
                <td><%= t "apidae.file_import.status.#{import.status}" %></td>
              </tr>
          <% end %>
          <% if @last_imports.empty? %>
              <tr>
                <td colspan="3">Aucun import pour le moment.</td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div id="apidae_navigation_panel" class="<%= styles[:body] %>">
        <h2 class="<%= styles[:h2] %>">Données issues d'Apidae</h2>
        <%= link_to pluralize(@selections, 'sélection', 'sélections'), apidae.selections_path, class: styles[:selections] %>
        <%= link_to pluralize(@objects, 'objet touristique', 'objets touristiques'), apidae.objects_path, class: styles[:objects] %>
      </div>
    </div>
<% end %>